.table {
    width: 100%;
    
    border-radius: 15px;
    overflow: hidden;

    margin-bottom: 25px;

    /// make tr odd background color gray
    tr {
        td {
            width: 50%;
            height: 25px;
            padding: 10px 20px;

            &:last-child {
                text-align: right;
            }
        }

        &:nth-child(odd) {
            background-color: var(--White);
        }

        &:nth-child(even) {
            background-color: var(--Gray15);
        }
    }
}


.card {
    background-color: var(--White);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 10px 25px 10px;
    width: 90%;
    min-height: 100px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        text-align: center;
    }

    & > div {
        width: 90%;
        gap: 4%;
        min-height: 100px;
    }
}

.card ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-card {
    max-width: 370px;
    min-width: 265px;
    
    img {
        border-radius: 100%;
        width: 80px;
    }
    .share-icon {
        font-size: 25px;
        margin-left: auto;
        color: var(--JuntUs-Blue);
    }
    .card-profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 100%;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.busca-card {
    margin: 25px auto !important;
  }
  
  .busca-card h3 {
    text-align: left !important;
  }

  
.busca-card .tags {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
  
    color: var(--Gray15)
  }
  
  .busca-card .tags p {
    background-color: var(--JuntUs-LightOrange-01);
    border-radius: 5px;
    margin: 5px;
    padding: 0px 20px;
  }
  
  
.pagination-profiler {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    gap: 20px;
    row-gap: 50px;

    .profile-card {
        min-width: 45%;
    }
}

.input-card{
    margin: 50px auto;
}